<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sst.mapper.ArticleViewMapper">

	<resultMap type="com.sst.entity.ArticleView" id="ArticleView">
		<id column="id" property="id"/>
		<result column="article_id"  property="articleId"/>
		<result column="view_date"  property="viewDate"/>
		<result column="ip"  property="ip"/>
	</resultMap>

	<insert id="create" keyProperty="id" useGeneratedKeys="true" parameterType="com.sst.entity.ArticleView">
		insert into tb_article_view(
			article_id,
			view_date,
			ip
		)values(
			#{articleId},
			#{viewDate},
			#{ip}
		)
	</insert>

	<select id="query" resultMap="ArticleView">
		select * from tb_article_view
		<include refid="ArticleViewFindCriteria"/>

	</select>


	<select id="count" resultType="int">
		select count(1) from tb_article_view
		<include refid="ArticleViewFindCriteria"/>
	</select>

	<select id="detail" resultMap="ArticleView">
		select * from tb_article_view where id = #{id}
	</select>

	<delete id="delete">
		delete from tb_article_view where id = #{id}
	</delete>
	<update id="update">
		update tb_article_view set
			article_id=#{articleId},
			view_date=#{viewDate},
			ip=#{ip}
		where id = #{id}
	</update>

	<update id="updateSelective">
		update tb_article_view
		<trim prefix="set" suffixOverrides=",">
			<if test="articleId != null">article_id = #{articleId},</if>
			<if test="viewDate != null and viewDate != ''"> view_date = #{viewDate},</if>
			<if test="ip != null and ip != ''"> ip = #{ip},</if>
		</trim>
		where id = #{id}
	</update>

	<sql id="ArticleViewFindCriteria">
		<where>
			<if test="id != null">and id = #{id}</if>
			<if test="articleId != null">and article_id = #{articleId}</if>
			<if test="ip != null and ip != ''">and ip = #{ip}</if>
		</where>
	</sql>

</mapper>